---
name: "Test"

"on":
  pull_request:
  push:
    branches: [main]

jobs:
  lint-unit:
    uses: sous-chefs/.github/.github/workflows/lint-unit.yml@3.1.1
    permissions:
      actions: write
      checks: write
      pull-requests: write
      statuses: write
      issues: write

  integration:
    needs: "lint-unit"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - amazonlinux-2023
          - debian-12
          - debian-11
          - rockylinux-9
          - rockylinux-8
          - ubuntu-2204
          - ubuntu-2004
        suite:
          # - openjdk-11 # Debian doesn't have an 11 package
          - openjdk-16
          - openjdk-17
          # - temurin-8-hotspot
          # - temurin-11-hotspot
          # - semeru-11-openj9
          # - semeru-17-openj9
          - corretto-8
          - corretto-11
          - corretto-17
          - corretto-18
      fail-fast: false
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install Chef
        uses: actionshub/chef-install@3.0.0
      - name: Dokken
        uses: actionshub/test-kitchen@3.0.0
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.dokken.yml
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}

  integration-macos:
    needs: "lint-unit"
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install Chef
        uses: actionshub/chef-install@3.0.0
      - name: Kitchen Converge
        uses: actionshub/test-kitchen@3.0.0
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.macos.yml
          TERM: xterm-256color
        with:
          suite: temurin-11
          os: macos
          action: converge
      - name: Source Profile for JAVA_HOME
        run: |
          source /etc/profile
          echo "sourced profile for JAVA_HOME"
          echo "New JAVA home after Chef run is: ${JAVA_HOME}"
          # Magic line for github actions to persist the change
          echo "JAVA_HOME=${JAVA_HOME}" >> $GITHUB_ENV
      - name: Kitchen Verify
        uses: actionshub/test-kitchen@3.0.0
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.macos.yml
          TERM: xterm-256color
        with:
          suite: temurin-11
          os: macos
          action: verify

  final:
    runs-on: ubuntu-latest
    needs: [integration, integration-macos]
    steps:
      - run: echo ${{needs.integration.outputs}}
      - run: echo ${{needs.integration-macos.outputs}}
